<div class="row" style="margin-bottom: 0px;">
  <form (ngSubmit)="save()" [formGroup]="credentials" class="col s12">
    <div class="example-container">
      <mat-form-field>
        <textarea formControlName="login" matInput placeholder="Login"></textarea>
      </mat-form-field>
      <mat-error *ngIf="credentials.get('login').hasError('required')" align="end">Required field</mat-error>

      <mat-form-field>
        <textarea matInput formControlName="password" placeholder="Password"></textarea>
      </mat-form-field>
      <mat-error *ngIf="credentials.get('password').hasError('required')" align="end">Required field</mat-error>

      <mat-form-field>
        <textarea matInput formControlName="app" placeholder="Application"></textarea>
      </mat-form-field>
      <mat-error *ngIf="credentials.get('app').hasError('required')" align="end">Required field</mat-error>
    </div>

    <div class="row" style="display: flex;">
      <a style="width: 100%; margin-top: 20px;" (click)="save()" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>Ok</a>
    </div>
  </form>
</div>