.add-button-container {
    display: flex;
    justify-content: flex-end;
}
.add-button-container > button {
    position: relative;
    bottom: 28px;
    margin-right: 30px
}
:host {
    width: inherit;
}