<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Login</th>
      <th>Password</th>
      <th>Copy Password</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let credential of dataSource">
      <td>{{credential.app}}</td>
      <td>{{credential.login}}</td>
      <td>



        <button (click)="showPassword(credential)" class="btn waves-effect waves-light" type="submit" name="action">Show
          <i class="material-icons right">zoom_in</i>
        </button>


      </td>
      <td style="width: 35px;">
        <a matTooltip="Click to copy to clipboard" (click)="copyCredential(credential)" class="btn-floating"><i class="material-icons">file_copy</i></a>
      </td>
      <td style="width: 35px;"><a (click)="deleteCredential(credential)" class="btn-floating"><i class="material-icons">remove</i></a>
      </td>
    </tr>
  </tbody>
</table>